@font-face {
    font-family: 'Gallient';
    src: url(./../assets/fonts/FontsFree-Net-GallientRegular-eZoMp.ttf);
}

@font-face {
    font-family: 'Sequel Bold';
    src: url(./../assets/fonts/Sequel\ Sans\ Bold\ Disp.ttf);
}

@font-face {
    font-family: 'Sequel Sans Semi Bold Disp';
    src: url(./../assets/fonts/Sequel\ Sans\ Semi\ Bold\ Disp.ttf);
}