@import url(./../utilities/fonts.css);


.slideshow-container{
    max-width: 30%;
    height: 100vh;
    float: left;
}

#slideshow {
    max-width: 100%;
    margin-top: 200px;
    margin-left: 50px;
}

/* override w3schools styles */
#slideshow.w3-content.w3-display-container {
    display: block;
    /* margin: 0; */
}

.wonder-name{
    font-family: 'Gallient';
    color: white;
    font-weight: bolder;
    font-size: 4.5rem;
    letter-spacing: 1px;
    z-index: 1; 
    position: relative;
}  

.wonder-descriptions{
    float: right;
    max-width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 30px;
    margin-top: 20px;
    background-color:  rgba(128, 128, 128, 0.266);
    padding: 40px;
    border-radius: 10px;
    max-height: auto;
    overflow-y: auto;
}

.wonder-descriptions div{
    font-family: 'Sequel Light';
    font-size:1.3em;
    letter-spacing: 0.5px;
}

#wonder-map{
    height: 400px;
    width: 100%;
}

