@import url(./../utilities/fonts.css);

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.slideshow-container{
    max-width: 30%;
}

#slideshow {
    max-width: 100%;
}

/* override w3schools styles */
#slideshow.w3-content.w3-display-container {
    display: block;
    /* margin: 0; */
}

.wonder-name{
    font-family: 'Gallient';
    color: white;
    font-weight: bolder;
    font-size: 4.5rem;
    letter-spacing: 1px;
    z-index: 1; /* Ensure it is above other elements */
    position: relative;
}  

.wonder-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
}

